<div class="row">
	<div class="col-md-4">
		<div class="panel panel-primary">
		      <div class="panel-heading">ENGINEERS</div>
		      <div>
      				<div class="gridStyleBannerLeft" data-ng-grid="gridEngineers"></div> 
		      </div>
	    </div>
	</div>
</div>

	<div data-ng-controller=ctrlGeneric class="container">
		<br>
		<br>
		<br>
		<br>
		<table>
			<tr>
				<td rowspan="2" align="center">
				</td>
				<td align="center">
					<h1>ACTIVITIES</h1>
					
					<br>
					<table>
						<tr>
							<td width="425px" align="left"><button>DAY</button><button>WEEK</button><button>MOUNT</button></td>
							<td width="425px" align="right"><input data-ng-model="findEngineer" type="text" id="findEngineer"></td>
						</tr>
					</table>
					
					<!-- <input type="image" src="../images/find.png">  -->
					<div>
        				<div class="gridStyleBannerCenter" data-ng-grid="gridActivitiesAssigned"></div> 
        			</div>
					<!--  
					<table class="table table-hover">
						<thead>
							<tr>
								<td ng-repeat="x in listHeaderActivities">
									{{x.columna}}
								</td>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="x in listActivities | filter:findEngineer">
								<td>{{x.name}}</td>
								<td>{{x.activitie}}</td>
								<td>{{x.opcion1}}</td>
								<td>{{x.opcion2}}</td>
								<td>{{x.opcion3}}</td>
								<td>{{x.opcion4}}</td>
								<td>{{x.opcion5}}</td>
								<td>{{x.opcion6}}</td>
								<td>{{x.opcion7}}</td>
								<td>{{x.opcion8}}</td>
								<td>{{x.opcion9}}</td>
								<td>{{x.opcion10}}</td>
							</tr>
						</tbody>
					</table>
					-->
				</td>
			</tr>
			<tr>
					<td>
					<div>
        				<div class="gridStyleBannerBoot" data-ng-grid="gridOptions"></div>
        			</div> 
					<!-- 
					<div class="panel panel-danger">
				      <div class="panel-heading">Unassigned Activities</div>
				      <div class="panel-body">
				      	<table border="1" width="100%" height="20%">
						<tr>
							<td colspan="11"></td>
						</tr>
						<tr>
							<td>NAME</td>
							<td>STATUS</td>
							<td>WP</td>
							<td>WPG</td>
							<td>PRORITY</td>
							<td>EARLY START</td>
						</tr>
						<tr>
							
						</tr>
					</table>
				      </div>
				    </div>
				     -->
				</td>
			</tr>
			<tr>
				<td colspan="2" align="right">
					<div>
						<input type="button" width="200px" height="70px" class="btn btn-primary btn-lg" value="Auto Scheuled">
						<div class="alert alert-success">
		    				<strong>Success Access!</strong> Demo Auto Scheduled 
		  				</div>
	  				</div>
				</td>
			</tr>
		</table>
	</div>
	
